<br>
<h1>Players</h1>
<br>
<ol>
<% if @team.players.empty? %>
  <%= link_to "Create a player", new_player_path, class: "btn btn-success" %>
<% else %>
 <% @team.players.each do |player| %>
    <li><h3><%= link_to player.name.titleize, player_path(player) %></h3></li>
    <br>
    <br>
    <%= link_to "Create a new player", new_player_path, class: "btn btn-success" %>
  <% end %>
<% end %>
<br>
<br>
 