<!DOCTYPE html>
  <html>
    <head>
      <style>
        body {
          background-color: lightblue;
        }
      </style>
      <style>
        .center {
          text-align: center;
        }
      </style>
    </head>
    <body>
      <div class="center jumbotron">
        <br>
        <br>
      <h1>Welcome to Soccer Star!</h1>
        <br>
        <br>
          <%= link_to "Create an account", "/signup", class: "btn btn-primary btn-lg" %>
            <br>
            <br>
          <%= link_to "Log in", "/login", class: "btn btn-primary btn-lg" %>
      </div>
      </body>
</html>